<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://pandorajoias.vtexassets.com/arquivos/ids/190264-800-auto?v=638094454637530000&width=800&height=auto&aspect=true"
      cardTitle="Anel Coração Vermelho Elevado"
      cardDescription="R$1060"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Anel Ouro Amarelo Ouro Branco Ouro Rosé e Diamantes "
      photoCover="https://pandorajoias.vtexassets.com/arquivos/ids/180963-800-auto?v=637274838389300000&width=800&height=auto&aspect=true"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Anel Pandora Coração Brilhante Rosa"
      photoCover="https://pandorajoias.vtexassets.com/arquivos/ids/187194-1200-auto?v=637702584124370000&width=1200&height=auto&aspect=trueg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Anel Rosetm Combinável Moldura Mini Coração"
      photoCover="https://pandorajoias.vtexassets.com/arquivos/ids/181223-800-auto?v=637280122059700000&width=800&height=auto&aspect=true"
    >
    </app-small-card>
  </div>
</div>
